@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

html {
  min-width: 1200px;
  height: 100%;

  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  display: flex;
  flex-direction: column;

  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

.page-header {
  z-index: 1;

  display: flex;
  justify-content: space-between;

  min-height: 64px;

  color: #000000;
  background-color: #ffffff;
}

.nav-logo {
  position: absolute;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  margin-left: 170px;
}

.nav-list-secondary {
  flex-shrink: 0;
  flex-wrap: nowrap;

  margin-left: 20px;
}

.nav-list-secondary .nav-item {
  align-self: center;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  max-width: 400px;
  margin: 0;
  padding: 8px 34px 8px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: 0;
  border-radius: 4px;
  background-color: #756157;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;

  opacity: 0.1;
}

.button-here {
  display: inline-block;

  min-width: 160px;
  margin-left: 20px;
}

.button-here:hover {
  background-color: #615048;
}

.button-here:focus {
  background-color: #615048;
}

.button-here:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.nav-link {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  position: relative;

  display: flex;

  padding: 20px 16px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #000000;
}

.nav-link:hover::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;

  content: "";

  border-bottom: 2px solid #756257;
}

.nav-link-current::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;

  content: "";

  border-bottom: 2px solid #756257;
}

.button-search {
  display: block;

  width: 44px;
  height: 64px;

  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-search:focus,
.button-search:hover {
  opacity: 0.6;
}

.button-likes {
  display: block;

  width: 44px;
  height: 64px;
  margin: 0;

  border: 0;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-likes:focus,
.button-likes:hover {
  opacity: 0.6;
}

.favorites-counter {
  font-family: inherit;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;

  position: relative;
  top: 7px;
  left: 20px;

  display: inline-block;

  min-width: 20px;
  height: 20px;
  padding: 5px;

  text-align: center;

  color: #ffffff;
  border-radius: 10px;
  background-color: #7db54f;
}

.main-index {
  flex-grow: 1;
}

.main-logo-container {
  position: relative;

  height: 485px;
  margin-bottom: 70px;
  padding: 51px 0 82px;

  text-align: center;

  background-color: #669285;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-logo {
  display: block;

  margin: 0 auto;
}

.main-logo-container::after {
  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;
  height: 57px;
  margin-top: 25px;

  content: "";

  background-image: url("../images/welcome-divider.svg");
  background-repeat: no-repeat;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
}

.main-section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin: 0 20px 25px;
  padding: 0;

  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;

  margin: 0;

  text-align: center;
}

.advantages-reasons {
  margin: 0 20px 90px;
}

.advantage-photo {
  display: block;

  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #82b3d3;

  object-fit: cover;
}

.advantages-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;

  width: 400px;
  min-height: 384px;
  margin: 0;
  padding: 103px 84px 121px;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 400px;
  padding: 92px 85px 111px;
}

.main-item {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  padding: 0;

  color: #ffffff;
  background: #82b3d3;
}

.advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

.advantages-item .advantage-title::after {
  position: relative;

  display: block;

  width: 60px;
  margin: 30px auto 30px;

  content: "";

  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.advantages-item-wrapper .advantage-description {
  color: #ffffff;
}

.advantages-item-wrapper .advantage-title::after {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;

  margin: 0;

  text-align: center;

  color: #333333;
}

.light-blue-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue-card {
  background-color: rgba(131, 179, 211, 0.2);
}

.reverse {
  flex-direction: row-reverse;
}

.card-home {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/advantages-house.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 70px;
}

.card-food {
  background-color: #ffffff;
  background-image: url("../images/advantages-burger.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.card-gift {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/advantages-gift.svg");
  background-repeat: no-repeat;
  background-position: left 50% top 70px;
}

.advantages-sublist {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.sublist-item {
  width: 400px;
  min-height: 384px;
  padding: 80px 85px 81px;
}

.sublist-title {
  margin-bottom: 30px;
  padding-top: 102px;
}

.sublist-description {
  margin: 0;

  text-align: center;

  color: #333333;
}

.button-big {
  font-size: 20px;
  line-height: 36px;

  min-width: 376px;

  text-align: center;
  text-transform: uppercase;
}

.button-big:hover {
  background-color: #615048;
}

.button-big:focus {
  background-color: #615048;
}

.button-big:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.section-search {
  padding: 96px 50px 96px;

  text-align: center;
}

.section-description {
  font-size: 22px;
  line-height: 26px;

  margin: 0;
  margin-bottom: 54px;

  text-align: center;
}

.section-subscribe-main {
  padding: 96px 50px 104px;

  text-align: center;

  color: #ffffff;
  background-color: #756158;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-subscribe {
  margin-top: 60px;
  padding: 96px 50px 104px;

  text-align: center;

  color: #000000;
}

.email-subscribe {
  display: flex;
  justify-content: center;
}

.input-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
}

.newsletter-input {
  min-width: 452px;
  min-height: 52px;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;

  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.email-button {
  font-size: 20px;
  line-height: 36px;

  min-width: 232px;
  min-height: 52px;

  text-align: center;

  color: #ffffff;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #82b3d3;
}

.email-button:hover {
  background-color: #68a2ca;
}

.email-button:focus {
  background-color: #68a2ca;
}

.email-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

  display: flex;
  align-items: flex-start;

  list-style-type: none;

  gap: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 50px;
  margin: 0;
  padding: 45px 70px 35px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 192px;
}

.social-link {
  line-height: 40px;

  display: block;

  width: 48px;
  height: 40px;

  text-align: center;
}

.social-link svg {
  fill: #83b3d3;
}

.social-link:hover svg {
  fill: #68a2ca;
}

.social-link:focus svg {
  fill: #68a2ca;
}

.social-link:active svg {
  opacity: 0.3;
}

.social-item {
  flex-shrink: 0;
}

.phone-link {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link svg {
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.main-filter-header {
  padding-top: 35px;
  padding-bottom: 70px;

  color: #ffffff;
  background-color: #756158;
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner {
  flex-grow: 1;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-content: center;
  flex-wrap: wrap;

  margin-bottom: 40px;

  color: inherit;

  gap: 17px;
}

.breadcrumbs-link {
  text-decoration: none;

  color: #ffffff;
}

.home-icon {
  position: relative;
  top: 2px;

  display: inline-block;

  width: 13px;
  height: 15px;

  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs-item:not(:last-child)::after {
  position: relative;
  left: 6px;

  display: inline-block;

  width: 8px;
  height: 12px;

  content: "";

  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.product-list-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin: 0 20px 0 0;

  text-transform: uppercase;
}

.product-card-price {
  font-weight: 400;

  margin-left: auto;
}

.catalog-filter-control {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  border: none;
}

.option {
  display: block;

  padding-left: 37px;
}

.catalog-filter {
  display: flex;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;

  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  text-transform: none;
}

.catalog-filter-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  border: 0;

  gap: 15px;
}

.catalog-filter-resources {
  width: 160px;
  margin-right: 62px;

  gap: 18px;
}

.custom-checkbox {
  position: absolute;

  width: 20px;
  height: 20px;
  margin-left: -37px;

  border-radius: 4px;
  background-color: #ffffff;
}

.option-input:checked + .custom-checkbox {
  background-image: url("../images/icons/marker-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.option-input:hover + .custom-checkbox,
.option-input:hover ~ .option-label {
  opacity: 0.6;
}

.option-input:focus + .custom-checkbox {
  box-shadow: 0 0 0 3px #83b3d3;
}

.option-input:active + .custom-checkbox,
.option-input:active ~ .option-label {
  opacity: 0.3;
}

.option-input:disabled + .custom-checkbox,
.option-input:disabled ~ .option-label {
  cursor: not-allowed;

  opacity: 0.1;
}

.catalog-filter-type {
  margin-right: auto;

  gap: 18px;
}

.custom-radio {
  position: absolute;

  width: 20px;
  height: 20px;
  margin-left: -37px;

  border-radius: 50%;
  background-color: #ffffff;
}

.option-input:checked + .custom-radio {
  background-image: url("../images/icons/marker-dot.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.option-input:hover + .custom-radio {
  opacity: 0.6;
}

.option-input:focus + .custom-radio {
  box-shadow: 0 0 0 3px #83b3d3;
}

.option-input:active + .custom-radio {
  opacity: 0.3;
}

.option-input:disabled + .custom-radio {
  cursor: not-allowed;

  opacity: 0.1;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 32px;
  padding: 0;

  color: #ffffff;
}

.filter-price {
  display: flex;
  flex-direction: column;

  width: 288px;
  margin-right: 70px;
}

.price-selector-group {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;

  gap: 2px;
}

.price-selector {
  font: inherit;
  font-weight: 700;

  width: 143px;
  margin: 0;
  padding: 12px 20px;

  border: none;
  outline: none;
  background-color: #f2f2f2;

  -moz-appearance: textfield;
}

.price-selector::-webkit-outer-spin-button,
.price-selector::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.price-selector:hover {
  background: #e6e6e6;
}

.price-selector:focus {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

.price-selector:active {
  outline: 2px solid #000000;
  background: #f2f2f2;
}

.price-selector:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.price-minimal {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-maximal {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-selector-placeholder {
  font-size: 18px;
  line-height: 24px;

  position: absolute;

  color: rgba(0, 0, 0, 0.3);
}

.placeholder-from {
  top: 11px;
  left: 106px;
}

.placeholder-to {
  top: 11px;
  right: 20px;
}

.range-scale {
  position: relative;

  width: 287px;
  height: 4px;
  margin-top: 12px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  height: 4px;
  margin-left: 0;

  background-color: #ffffff;
}

.range-bar:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border: 0;
  border-radius: 5px;
  background: #ffffff;
}

.range-toggle:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;

  min-width: 191px;
  margin-top: 55px;
}

.option-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-button:focus {
  outline: none;
}

.reset-button {
  margin-top: 32px;

  background-color: transparent;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
  background-color: inherit;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.reset-button:active {
  opacity: 0.3;
  outline: none;
}

.button-product-card {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  align-self: start;

  min-width: 140px;
  min-height: 37px;
  padding: 8px 15px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: 0;
  border-radius: 4px;
  background: none;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover {
  background-color: #615048;
}

.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
}

.button-secondary-activated {
  background-color: #7db54f;
}

.button-secondary-activated:hover {
  background-color: #6c9e42;
}

.button-secondary-activated:focus {
  background-color: #6c9e42;
}

.button-secondary-activated:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-secondary:hover {
  background-color: #68a2ca;
}

.button-secondary:focus {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;

  flex-shrink: 0;

  min-width: 292px;
  height: 49px;
  margin-right: 60px;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 15px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  outline: 0;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.product-navigation-top {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  margin-top: 50px;
  margin-bottom: 40px;

  gap: 10px;
}

.catalog-variant {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: end;

  width: 160px;

  gap: 8px;
}

.catalog-variant-button {
  width: 48px;
  height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-variant-button-current {
  border-color: #000000;
}

.catalog-variant-button:hover {
  border-color: #000000;
}

.catalog-variant-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.catalog-view-title {
  background-image: url("../images/icons/view-tile.svg");
}

.catalog-view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
}

.catalog-view-list {
  background-image: url("../images/icons/view-list.svg");
}

.product-card {
  display: flex;
  flex-direction: column;

  min-height: 438px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-property {
  display: grid;

  margin-top: auto;

  gap: 16px 20px;
  grid-template-columns: 1fr 1fr;
}

.product-card-list {
  display: grid;

  gap: 17px;
  grid-template-columns: repeat(3, 1fr);
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;

  margin: 0;
  margin-top: 16px;
}

.product-card-link {
  display: flex;
  flex-direction: column-reverse;

  margin-bottom: 16px;

  text-decoration: none;

  color: inherit;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;

  width: 140px;
  min-width: 140px;
  min-height: 37px;
  margin: 0;
  padding: 8px 22px;

  text-transform: uppercase;

  border-radius: 4px;
  background: #f2f2f2;
}

.rating-list {
  height: 37px;

  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-position: left center;
}

.rating-one-star {
  width: 18px;
}

.rating-two-stars {
  width: 42px;
}

.rating-three-stars {
  width: 66px;
}

.rating-four-stars {
  width: 90px;
}

.rating-five-stars {
  width: 114px;
}

.catalog-navigation-bottom {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
  margin-left: 3px;
  padding-top: 37px;

  border-top: 1px solid #e6e6e6;

  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border-radius: 4px;
  background: #82b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.current-page,
.current-page:hover,
.current-page:focus,
.current-page.active {
  cursor: default;

  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots,
.pagination-dots:hover {
  cursor: default;

  color: #000000;
  background-color: #ffffff;
}

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  overflow: auto;

  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;

  margin: auto;
  padding: 64px 70px;

  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-container-close {
  display: none;
}

.modal-wrap {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;
  padding: 0;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-close-button:active svg {
  outline: none;

  fill: rgba(0, 0, 0, 0.3);
}

.modal-close-button:active {
  outline: none;
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  max-width: 520px;
  margin: 0 auto 64px 0;

  text-transform: uppercase;
}

.modal-string-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 23px;
}

.modal-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  width: 440px;
  height: 48px;
  padding-right: 60px;
  padding-left: 20px;

  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: top 14px right 20px;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-input:active {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.modal-input:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.modal-input-wrapper {
  position: relative;

  flex-wrap: wrap;
}

.modal-string-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  align-self: flex-start;

  margin-right: auto;
  padding: 12px 0;

  text-transform: capitalize;
}

.hint {
  font-size: 16px;
  line-height: 21px;

  display: block;

  max-width: 350px;
  margin-top: 4px;
  margin-left: 20px;
}

.error-massage {
  color: #ff5757;
}

.guests-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.label-adults {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  align-self: center;

  margin-right: 46px;

  text-transform: capitalize;
}

.field-wrapper-adults {
  display: flex;

  width: 50%;
  margin-bottom: 48px;
}

.label-children {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  align-self: center;

  margin-right: 10px;

  text-transform: capitalize;
}

.field-wrapper-children {
  display: flex;

  margin-bottom: 48px;
}

.number-input-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: 4px;
  background-color: #f2f2f2;
}

.modal-number-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  width: 31px;
  height: 48px;
  padding: 0;

  text-align: center;

  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;

  -moz-appearance: textfield;
}

.modal-number-input::-webkit-inner-spin-button,
.modal-number-input::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.number-button {
  width: 40px;
  height: 48px;
  padding: 0;

  cursor: pointer;

  border: 0;
  border-radius: 4px;
  background: transparent;
}

.field-icon {
  opacity: 0.3;

  fill: #756157;
}

.number-button:hover svg {
  opacity: 1;
  outline: none;
}

.number-button:focus svg,
.modal-number-input:focus {
  opacity: 1;
  outline: 3px solid #83b3d3;

  fill: #000000;
}

.number-button:focus {
  outline: none;
}

.number-button:active svg {
  opacity: 0.3;
  outline: none;

  fill: #756157;
}

.modal-number-input:hover {
  background: #e6e6e6;
}

.modal-number-input:disabled {
  cursor: not-allowed;

  opacity: 0.3;
}

.button-less {
  z-index: 2;

  border-radius: 4px;
}

.button-more {
  z-index: 2;

  border-radius: 4px;
}


.number-field-icon {
  display: block;

  width: 20px;
  height: 20px;
  margin: auto;

  border-radius: 4px;
}

.tooltip {
  position: relative;

  align-self: center;

  width: 26px;
  height: 26px;
  margin-right: 46px;
}

.tooltip-text::after {
  position: absolute;
  top: -9px;
  right: 120px;

  width: 19px;
  height: 9px;

  content: "";

  background-image: url("../images/icons/triangle.svg");
}

.tooltip-toggle {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-toggle:focus .tooltip-icon,
.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.6;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-icon {
  position: relative;
  top: 2px;

  fill: #ffffff;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  z-index: 1;
  top: 40px;
  left: 50%;

  display: none;

  width: 256px;
  padding: 20px 22px 23px;

  transition: visability 0.3s, opacity 0.3s;
  transform: translateX(-50%);

  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
}

.modal-button {
  font-size: 20px;
  line-height: 36px;

  width: 100%;
  max-width: 580px;
  height: 60px;

  border-radius: 10px;
  background: #83b3d3;
}

.modal-button:hover {
  background: #68a2ca;
}

.modal-button:focus {
  outline: none;
  background: #68a2ca;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
}
