@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reset-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #F2F2F2;
  min-width: 1280px;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  z-index: 1;
}

.nav-logo {
  position: absolute;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 170px;
}

.nav-list-secondary {
  margin-left: 20px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.nav-list-secondary .nav-item {
  align-self: center;
}

.button-here {
  margin-left: 20px;
  display: inline-block;
  min-width: 160px;
}

.button-here:hover {
  background-color: #615048;
}

.button-here:focus {
  background-color: #615048;
}

.button-here:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.nav-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: flex;
  padding: 20px 16px;
  position: relative;
  cursor: pointer;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
}

.button-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 44px;
  height: 64px;
}

.button-likes {
  margin: 0;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 44px;
  height: 64px;
  border: 0;
}

.favorites-counter {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  left: 20px;
  top: 7px;
  }

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  padding: 8px 34px 8px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.main-index {
  flex-grow: 1;
}

.main-logo-container {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  background-color: #80b2cd;
  height: 485px;
  padding: 51px 0 82px 0;
  position: relative;
  margin-bottom: 70px;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.main-logo-container::after {
  content: "";
  background-image: url(../images/welcome-divider.svg);
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  margin-top: 25px;
  position: absolute;
  bottom: 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.main-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px ;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-reasons {
  margin-bottom: 90px;
}

.advantage-photo {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #82B3D3;
  height: 100%;
  object-fit: cover;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  }

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 103px 84px 121px;
  margin: 0;
}

.advantages-item-wrapper {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 width: 400px;
 padding: 92px 85px 111px;
}

.main-item {
  background: #82B3D3;
  color:#FFFFFF;
  width: 100%;
  padding: 0;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
}

.advantage-title {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-item .advantage-title::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.advantages-item-wrapper .advantage-description {
color: #FFFFFF;
}

.advantages-item-wrapper .advantage-title::after {
  border-bottom-color:  rgba(255, 255, 255, 0.3);
}

.advantage-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #333333;
}


.light-blue-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue-card {
  background-color: rgba(131, 179, 211, 0.2);

}

.reverse {
  flex-direction: row-reverse;
}

.card-home {
  background-image: url(../images/advantages-house.svg);
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: left 50% top 70px;
}

.card-food {
  background-image: url(../images/advantages-burger.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left 50% top 80px;

}
.card-gift {
  background-image: url(../images/advantages-gift.svg);
  background-repeat: no-repeat;
  background-color: rgba(131, 179,211, 0.12);
  background-position: left 50% top 70px;
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.sublist-item {
  width: 400px;
  min-height: 384px;
  padding: 80px 85px 81px;
}

.sublist-title {
  padding-top: 102px;
  margin-bottom: 30px;
}

.sublist-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  text-align: center;
  text-transform: uppercase;
}

.button-big:hover {
  background-color: #615048;
}

.button-big:focus {
  background-color: #615048;
}

.button-big:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.section-search {
  text-align: center;
  padding: 96px 304px 96px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.section-subscribe-main {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #756158;
  padding: 96px 50px 104px;
}

.section-subscribe {
  color: #000000;
  text-align: center;
  padding: 96px 50px 104px;
  margin-top: 60px;
}

.email-subscribe {
display: flex;
justify-content: center;
}

.input-field {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-input {
    width: 452px;
    height: 52px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 20px;
  }

.email-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  height: 52px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
}

.email-button:hover {
  background-color: #68A2CA;
}

.email-button:focus {
  background-color: #68A2CA;
}

.email-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer {
  min-height: 50px;
  margin: 0;
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 192px;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}


.social-link svg {
  fill: #83B3D3;
}

.social-link:hover svg {
  fill:#68A2CA;
}

.social-link:focus svg {
  fill:#68A2CA;
}

.social-link:active svg {
  opacity: 0.3;
}

.social-item{
  flex-shrink: 0;
}

.phone-link {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link svg {
  fill: #000;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.main-filter-header {
  background-image:url(../images/catalog/filter-background.jpg);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756158;
  padding-top: 35px;
  padding-bottom: 70px;
}

.main-inner {
  flex-grow: 1;
}

.breadcrumbs {
  margin-bottom: 40px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-content: center;
  gap: 17px;
}

.breadcrumbs-link{
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/icons/arrow-right.svg);
  background-size: contain;
  width: 8px;
  height: 12px;
  display: inline-block;
  position: relative;
  left: 6px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.product-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

.product-card-price {
  font-weight: 400;
  margin-left: auto;
}

.catalog-filter-control {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.option {
  display: block;
  padding-left: 37px;
}

.catalog-filter {
  display: flex;
}

.catalog-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
}

.catalog-filter-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.catalog-filter-resources {
  gap: 18px;
  margin-right: 67px;
}

.input-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-left: -37px;
}

.option-input:checked + .input-checkbox {
  background-image: url(../images/icons/marker-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.option-input:hover + .input-checkbox,
.option-input:hover ~ .option-label {
  opacity: 0.6;
}

.option-input:focus + .input-checkbox {
  box-shadow: 0 0 0 3px #83B3D3;
}

.option-input:active + .input-checkbox,
.option-input:active ~ .option-label {
  opacity: 0.3;
}

.option-input:disabled + .input-checkbox,
.option-input:disabled ~ .option-label {
  opacity: 0.1;
  cursor: not-allowed;
}

.catalog-filter-type {
  gap: 18px;
  margin-right: auto;
}

.input-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: -40px;
}

.option-input:checked + .input-radio {
  background-image: url(../images/icons/marker-dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.option-input:hover + .input-radio {
  opacity: 0.6;
}

.option-input:focus + .input-radio {
  box-shadow: 0 0 0 3px #83B3D3;
}

.option-input:active + .input-radio {
  opacity: 0.3;
}

.option-input:disabled + .input-radio {
  opacity: 0.1;
  cursor: not-allowed;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.filter-price {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}

.price-selector-group {
  position: relative;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.price-selector {
  margin: 0;
  padding: 12px 20px;
  border: none;
  outline: none;
  width: 143px;
  font: inherit;
  background-color: #F2F2F2;
  font-weight: 700;
  -moz-appearance: textfield;
}

.price-selector::-webkit-outer-spin-button,
.price-selector::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-selector:hover {
  background: #E6E6E6;
}

.price-selector:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.price-selector:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.price-selector:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.price-minimal {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-maximal {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-selector-placeholder {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.placeholder-from {
  left: 106px;
  top: 11px;
}

.placeholder-to {
  right: 20px;
  top: 11px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  margin-left:0
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  min-width: 191px;
  margin-top: 55px;
}

.option-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-button:focus {
  outline: none;
}

.reset-button {
  background-color: transparent;
  margin-top: 32px;
}

.reset-button:focus {
  outline: 3px solid #83B3D3;
  background-color: inherit;
}
.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.reset-button:active {
  outline: none;
  opacity: 0.3;
}

.button-product-card {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  min-height: 37px;
  border: 0;
  border-radius: 4px;
  background: none;
  padding: 8px 15px;
  align-self: start;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover {
  background-color: #615048;
}

.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary-activated {
  background: #7DB54F;
}

.button-secondary-activated:hover {
  background-color: #6C9E42;
}

.button-secondary-activated:focus {
  background-color: #6C9E42;
}

.button-secondary-activated:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left 260px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: auto;
  margin-right: 70px;
  padding-left: 15px;
  flex-shrink: 0;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.product-navigation-top {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-variant {
  display: flex;
  gap: 8px;
  width: 160px;
  flex-shrink: 0;
}

.catalog-variant-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-variant-button-current {
  border-color: #000000;
}

.catalog-variant-button:hover {
  border-color: #000000;
}

.catalog-variant-button:focus {
  border-color: #68A2CA;
  outline: none;
}

.catalog-view-title {
  background-image: url(../images/icons/view-tile.svg);
}

.catalog-view-slideshow {
  background-image: url(../images/icons/view-slideshow.svg)
}

.catalog-view-list {
  background-image: url(../images/icons/view-list.svg);
}

.product-card {
  min-height: 438px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 17px;
}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.product-card-link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: inherit;
  margin-bottom: 16px;
}

.product-card-rating {
  margin: 0;
  min-width: 140px;
  padding: 8px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.rating-list {
  background-image: url(../images/icons/star.svg);
  background-repeat:  space no-repeat;
  background-position: left center;
  height: 37px;
}

.rating-one-star {
  width: 18px;
}

.rating-two-stars {
  width: 42px;
}

.rating-three-stars {
  width: 66px;
}

.rating-four-stars {
  width: 90px;
}

.rating-five-stars {
  width: 114px;
}

.catalog-navigation-bottom {
  margin-top: 40px;
  display: flex;
  padding-top: 37px;
  border-top: 1px solid #E6E6E6;
  gap: 8px;
  margin-left: 3px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display:flex ;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.current-page,
.current-page:hover,
.current-page:focus,
.current-page.active {
  color: #000;
  background-color: #F2F2F2;
  cursor: default;
}

.pagination-dots,
.pagination-dots:hover {
  color: #000000;
  background-color: #FFFFFF;
  cursor: default;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-container-close {
  display: none;
}

.modal-wrap {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
  outline: none;
}

.modal-close-button:active {
  outline: none;
}

.modal-title {
  max-width: 520px;
  margin: 0 auto 64px 0;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

}

.modal-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-string-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
}

.modal-input {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 60px;
  background-image: url(../images/icons/calendar.svg);
  background-repeat: no-repeat;
  background-position: top 14px right 20px;
}

.modal-input-wrapper {
  display: flex;
  position: relative;
}

.modal-string-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-right: 10px ;
  align-self: center;
  width: 122px;
}

.guests-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-adults {
  margin-right: 15px;
}

.field-wrapper-adults {
  display: flex;
  width: 50%;
  margin-bottom: 48px;
}

.field-wrapper-children {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 48px;
  margin-left: 56px;
}

.number-input-wrapper {
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  position: relative;
  align-items: center;
}

.modal-number-input {
  background-color: #F2F2F2;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  width: 31px;
  height: 48px;
  border: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  -moz-appearance: textfield;
}

.modal-number-input::-webkit-inner-spin-button,
.modal-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-field-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.number-button {
  background: transparent;
  border: 0;
  border-radius: 4px;
  width: 40px;
  height: 48px;
  padding: 0;
  cursor: pointer;
}

.field-icon {
  fill:#756157;
  opacity: 0.3;
}

.number-button:hover svg {
  opacity: 1;
  outline: none;
}

.number-button:focus svg {
  fill: #000000;
  opacity: 1;
  outline: 3px solid #83B3D3;
}

.number-button:focus {
  outline: none;
}

.number-button:active svg{
  outline: none;
  fill: #756157;
  opacity: 0.3;
}

.button-less {
  z-index: 2;
  border-radius: 4px;
}

.button-more {
  z-index: 2;
  border-radius: 4px;
}

.hint {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: 50px;
  left: 22px;
  z-index: 2;
}

.error-massage {
  color: #FF5757;
}

.number-field-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 60px;
  margin-top: 12px;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/icons/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  right: 120px;
}

.tooltip-toggle {
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-icon {
  fill: #FFFFFF;
  top: 2px;
  position: relative;
}

.tooltip-text {
  position: absolute;
  background-color: #333333;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 22px 23px;
  width: 256px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: visability 0.3s, opacity 0.3s;
  display: none;
}

.modal-button {
  width: 100%;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.modal-button:hover {
  background: #68A2CA;
}

.modal-button:focus {
  background: #68A2CA;
  outline: none
}

.modal-button:active {
 color: rgba(255, 255, 255, 0.3);
}
