@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reset-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #F2F2F2;
  min-width: 1280px;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.nav-logo {
  position: absolute;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 170px;
}

.nav-list-secondary {
  margin-left: 20px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.nav-list-secondary .nav-item {
  align-self: center;
}

.button-here {
  margin-left: 20px;
}

.nav-link {
 font-family: inherit;
 font-size: 20px;
 line-height: 24px;
 font-weight: 700;
 color: #000000;
 text-align: center;
 text-decoration: none;
 display: flex;
 padding: 20px 16px;
 position: relative;
}

.nav-link-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    border-bottom: 2px solid #756257;
}

.button-search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 44px;
  height: 64px;
}

.button-likes {
  margin: 0;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 44px;
  height: 64px;
  border: 0;
}

.favorites-counter {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  position: relative;
  left: 18px;
  top: 5px;
  }

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  padding: 8px 34px 8px;
}

.main-index {
  flex-grow: 1;
}

.main-logo-container {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  background-color: #80b2cd;
  height: 485px;
  padding: 51px 0 82px 0;
  position: relative;
  margin-bottom: 70px;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.main-logo-container::after {
  content: "";
  background-image: url(../images/welcome-divider.svg);
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  margin-top: 25px;
  position: absolute;
  bottom: 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.main-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px ;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-reasons {
  margin-bottom: 90px;
}

.advantage-photo {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #82B3D3;
  height: 100%;
  object-fit: cover;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  }

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 103px 85px 121px;
  margin: 0;
}

.advantages-item-wrapper {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 width: 400px;
 padding: 92px 85px 111px;
}

.main-item {
  background: #82B3D3;
  color:#FFFFFF;
  width: 100%;
  padding: 0;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
}

.advantage-title {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-item .advantage-title::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.advantages-item-wrapper .advantage-description {
color: #FFFFFF;
}

.advantages-item-wrapper .advantage-title::after {
  border-bottom-color:  rgba(255, 255, 255, 0.3);
}

.advantage-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #333333;
}


.light-blue-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.blue-card {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.reverse {
  flex-direction: row-reverse;
}

.card-home {
  background-image: url(../images/advantages-house.svg);
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: left 50% top 80px;
}

.card-food {
  background-image: url(../images/advantages-burger.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left 50% top 80px;

}
.card-gift {
  background-image: url(../images/advantages-gift.svg);
  background-repeat: no-repeat;
  background-color: rgba(131, 179,211, 0.12);
  background-position: left 50% top 80px;
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.sublist-item {
  width: 400px;
  min-height: 384px;
  padding: 80px 85px 81px;
}

.sublist-title {
  padding-top: 102px;
  margin-bottom: 30px;
}

.sublist-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  text-align: center;
  text-transform: uppercase;
}

.section-search {
  text-align: center;
  padding: 96px 304px 96px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.section-subscribe-main {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #756158;
  padding: 96px 50px 104px;
}

.section-subscribe {
  color: #000000;
  text-align: center;
  padding: 96px 50px 104px;
}

.email-subscribe {
display: flex;
justify-content: center;
}

.input-field {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-input {
    width: 452px;
    height: 52px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

.newsletter-input {
  padding-left: 20px;
}

.email-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  height: 52px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  width: 232px;
  font-size: 20px;
  line-height: 36px;
}


.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer {
  min-height: 50px;
  margin: 0;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 192px;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-item{
  flex-shrink: 0;
}

.phone-link {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-filter-header {
  background-image:url(../images/catalog/filter-background.jpg);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756158;
  padding-top: 35px;
  padding-bottom: 70px;
}

.main-inner {
  flex-grow: 1;
}

.breadcrumbs {
  margin-bottom: 40px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-content: center;
  gap: 10px;
}

.breadcrumbs-link{
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/icons/arrow-right.svg);
  background-size: contain;
  width: 6px;
  height: 10px;
  display: inline-block;
}

.product-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-right: 20px;
}

.product-card-price {
  font-weight: 400;
  margin-left: auto;
}

.catalog-filter-control {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.option {
  display: block;
}

.catalog-filter {
  display: flex;
}

.catalog-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
}

.catalog-filter-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.catalog-filter-resources {
  gap: 16px;
  margin-right: 70px;
}

.catalog-filter-type {
  gap: 16px;
  margin-right: 140px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.filter-price {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}

.price-selector-group {
  position: relative;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.price-selector {
  margin: 0;
  padding: 12px 20px;
  border: none;
  outline: none;
  width: 143px;
  font: inherit;
  background-color: #F2F2F2;
  font-weight: 700;
}

.price-minimal {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.price-maximal {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-selector-placeholder {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.placeholder-from {
left: 106px;
top: 11px;
}

.placeholder-to {
  right: 20px;
  top: 11px;
}

.range {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.option-item {
  font-size: 18px;
  line-height: 23px;
}

.reset-button {
  background-color: transparent;
  margin-top: 32px;
}

.button-product-card {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  min-height: 37px;
  border: 0;
  border-radius: 4px;
  background: none;
  padding: 8px 15px;
  align-self: start;
}

.button-primary {
background-color: #756157;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary-active {
  background: #7DB54F;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left 260px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: auto;
  margin-right: 70px;
  padding-left: 20px;
  flex-shrink: 0;
}

.product-navigation-top {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-variant {
  display: flex;
  gap: 8px;
  width: 160px;
  flex-shrink: 0;
}

.catalog-variant-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-variant-button-current {
  border-color: #000000;
}

.catalog-view-title {
  background-image: url(../images/icons/view-tile.svg);
}

.catalog-view-slideshow {
  background-image: url(../images/icons/view-slideshow.svg)
}

.catalog-view-list {
  background-image: url(../images/icons/view-list.svg);
}

.product-card {
  min-height: 438px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 16px;
}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.product-card-link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: inherit;
  margin-bottom: 16px;
}

.product-card-rating {
  margin: 0;
  min-width: 140px;
  padding: 8px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.rating-list {
  background-image: url(../images/icons/star.svg);
  background-repeat:  space no-repeat;
  background-position: left center;
  height: 37px;
}

.rating-one-star {
  width: 18px;
}

.rating-two-stars {
  width: 42px;
}

.rating-three-stars {
  width: 66px;
}

.rating-four-stars {
  width: 90px;
}

.rating-five-stars {
  width: 114px;
}

.catalog-navigation-bottom {
  margin-top: 40px;
  display: flex;
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
  gap: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display:flex ;
}

.pagination-dots {
  color: #000000;
  background-color: #FFFFFF;
}

.current-page {
  color: #000;
  background-color: #F2F2F2;
  cursor: default;
}
